<div id="ub-search">
  <label for="">
    <i class="fa fa-search" data-toggle="tooltip" data-placement="bottom" title="Find"></i>
    <input id="ub-search-input" type="text" placeholder="Search..." />
  </label>
  <div id="ub-search-container" class="popover fade bottom in" role="tooltip" >
    <div class="arrow"></div>
    <div class="popover-content">
      <ul id="ub-search-results" class="list-group"></ul>
    </div>
  </div>
</div>

