//*-----------------------------------------
//* Index Header
//*-----------------------------------------
#ub-header{
  height: 40rem;
  background-size: 100%;
  background-repeat: no-repeat;
  .ub-title {
    margin-top: 15rem;
  }
  @media (max-width: @screen-xs-max) {
    height: 16rem;
    .ub-title {
      margin-top: 0;
      h1 {
        font-size: 4rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
  }
}
#ub-content{
  .fa-hand-o-right {
    font-size: 4rem;
  }
}
#ub-pager {
  padding: 0 1rem;
}
#ub-post-meta {
  padding: 1rem 1.5rem;
  color: @brand-warning;
  a {
    color: @brand-warning;
    &:hover {
      color: @brand-primary;
    }
  }
}
#ub-post-comments {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#ub-footer {
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
  background-color: #ffffff;
  border-color: transparent;
  border: none;
}
