#ub-main {
  .fa-hand-o-right {
    font-size: 3rem;
  }
  #ub-post-meta {
    margin-top: 5rem;
  }
}
.ub-post-title {
  display: inline-block;
  font-size: 3rem;
}
#ub-share {
  margin: 0;
}
//*-----------------------------------------
//* horizontal rule
//*-----------------------------------------
.ub-post-hr {
  height: 1rem;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  margin: 2.5rem 16rem;
  text-align: center;
}
.ub-post-hr:before {
  content: "§";
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  padding: 0.5rem;
  top: -3rem;
  background-color: #f2f2f2;
}

//*-----------------------------------------
//* Author
//*-----------------------------------------
.ub-author-image {
  width: 15rem;
  height: 15rem;
  background-size: cover;
  background-position: center center;
  border-radius: 100%;
  margin: 1rem;
}
